.user-name {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.log-text {
    max-width: 500px;
}

.report-text {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.col_10{
    margin-right: 15px;
}

.icon_apk{
}

.icon_apk:hover{
    width: 23px;
    height: 23px;
}


.ml_15{
    margin-left: 15px;
}

.ml_10{
    margin-left: 10px;
}

.ml_25{
    margin-left: 25px;
}

.ml_30{
    margin-left: 30px;
}

.nav-link{
    cursor: pointer;
}

.dropdown{
    cursor: pointer;
}
.dropdown-item{
    cursor: pointer;
}
.move{
    cursor: pointer;
    color:red;
}
.strong-text{
    font-weight: bolder;
}
.page-item{
    cursor: pointer;
}

.table-active{
    cursor: pointer;
    color: blue;
}

.table-active:hover{
    color:red;
}