.user-name {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.log-text {
    max-width: 500px;
}

.col_10{
    margin-right: 15px;
}

.icon_apk{
}

.icon_apk:hover{
    width: 23px;
    height: 23px;
}


.ml_15{
    margin-left: 15px;
}

.ml_10{
    margin-left: 10px;
}

.ml_25{
    margin-left: 25px;
}

.ml_30{
    margin-left: 30px;
}