{% extends 'base.html' %}
{% load static %}

{% block title %}AD Sample{% endblock %}
{% block css %}

{% endblock %}
{% block admin_name %}<p>{{nickname}}</p>{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Advertisement</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'quickit:dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item active">Ad</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
<!-- /.content-header -->
{% endblock %}

{% block content %}


<section class="content">
    <div class="container-fluid">
        <div class="card card-info card-outline">
            <form class="form-inline" style="margin: 20px 20px">
                <div class="form-group">
                    <label class="control-label col-sm-12" style="">Source</label></div>
                <div class="form-group">
                    <select class="select2" multiple="multiple" data-placeholder="Select AD Source" style="width:100%"
                            id="ad_source">
                    </select></div>


                <div class="form-group">
                    <label class="control-label col-sm-12" style="">Loc</label></div>
                <div class="form-group">
                    <select class="select2" multiple="multiple" data-placeholder="Select Loc" style="width:100%"
                            id="ad_loc">
                        <option value="All">All</option>
                        <option value="EGY">EGY</option>
                        <option value="IRQ">IRQ</option>
                        <option value="DZA">DZA</option>
                        <option value="IDN">IDN</option>
                        <option value="IND">IND</option>
                        <option value="MMR">MMR</option>
                        <option value="PHL">PHL</option>
                        <option value="NPL">NPL</option>
                        <option value="BGD">BGD</option>
                        <option value="PAK">PAK</option>
                    </select></div>

                <div class="form-group">
                    <label class="control-label col-sm-12" style="">Size/Type</label></div>
                <div class="form-group">
                    <select class="select2" multiple="multiple" data-placeholder="Select Size/Type" style="width:100%"
                            id="ad_size">
                        <option value="All">All</option>
                        <option value="native_1200_627">native_1200_627</option>
                        <option>native_320_480</option>
                        <option>banner_320_100</option>
                        <option>banner_300_250</option>
                    </select></div>

                <div class="form-group">
                    <label class="control-label col-sm-12" style="">Date</label></div>
                <div class="form-group daterange">
                    <input class="form-control" name="range_date" type="text" id="datetext">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>

                <div class="form-group">
                    &nbsp;&nbsp;&nbsp;&nbsp
                    <button id="stat_btn" class="btn  bg-gradient-primary center-block ol-sm-12" type="button">Search</button>
                </div>
                <div class="form-group" id="loading">
                    &nbsp;&nbsp;&nbsp;&nbsp
                </div>

            </form>
        </div>
    </div>
</section>


<div id="table_start"></div>

<div id="image_start"></div>
<!---->
<!-- /.container-fluid -->
{% endblock %}

{% block script %}

<!--<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>-->
<script src="/static/AdminLTE-3.0.1/dist/js/pages/dashboard3.js"></script>
<script src="/static/AdminLTE-3.0.1/plugins/chart.js/Chart.min.js"></script>
<script src="/static/AdminLTE-3.0.1/dist/js/demo.js"></script>
<script src="/static/AdminLTE-3.0.1/dist/js/pages/dashboard3.js"></script>
<!-- FLOT CHARTS -->
<script src="/static/AdminLTE-3.0.1/plugins/flot/jquery.flot.js"></script>
<!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
<script src="/static/AdminLTE-3.0.1/plugins/flot-old/jquery.flot.resize.min.js"></script>
<!-- FLOT PIE PLUGIN - also used to draw donut charts -->
<script src="/static/AdminLTE-3.0.1/plugins/flot-old/jquery.flot.pie.min.js"></script>

<script>


    $(function () {
        $(".daterange input").each(function () {
            var $this = $(this);
            $this.daterangepicker({
                locale: {
                    "format": "YYYY/MM/DD",// 显示格式
                    "applyLabel": "确定",
                    "cancelLabel": "取消",
                    "fromLabel": "开始",
                    "toLabel": "结束",
                    "daysOfWeek": ["日", "一", "二", "三", "四", "五", "六"],
                    "monthNames": ["一月", "二月", "三月", "四月", "五月", "六", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                    "firstDay": 1
                },
            }, function (start, end, label) {
                // 点击确定后的事件，下面是为了bootstrap validate得校验，
                // 若未使用，可忽视
                if ($this.parents("form.required-validate").length > 0) {
                    var $form = $this.parents("form.required-validate");

                    var name = $this.attr("name");
                    if ($form.length > 0) {
                        var data = $form.data('bootstrapValidator');
                        data.updateStatus(name, 'NOT_VALIDATED', null)
                        // Validate the field
                            .validateField(name);
                    }
                }
                // 设置最小宽度，否则显示不全
            }).css("min-width", "210px").next("i").click(function () {
                // 对日期的i标签增加click事件，使其在鼠标点击时可以拉出日期选择
                $(this).parent().find('input').click();
            });
        });
    });

    $(document).ready(function () {
        var ad_source_list = {{ad_source_list | safe}};

        $('#ad_source').append('<option>All</option>')
        for (var i = 0; i < ad_source_list.length; i++) {
            $('#ad_source').append('<option value="'+ad_source_list[i]+'">' + ad_source_list[i] + '</option>')
        };
        $("#ad_loc").val(['IND']).trigger('change')
        $("#ad_size").val(['native_1200_627']).trigger('change')
        $("#ad_source").val(['yeahmobi']).trigger('change')
        document.getElementById("stat_btn").click();
    });

    $('#stat_btn').click(function () {
        var ad_source_list = $("#ad_source").select2('val').toString();
        var loc_list = $("#ad_loc").select2('val').toString();
        var ad_size_list = $("#ad_size").select2('val').toString();
        var date = $("#datetext").val()
        $.ajax({
            url: "/ad_sample_report/",
            type: "POST",
            async:true,
            cache: false,
            data: {
                ad_source_list: ad_source_list,
                loc_list: loc_list,
                ad_size_list: ad_size_list,
                date: date
            },

            beforeSend: function () {
                $("#stat_btn").attr({ disabled: "disabled" });
                $("#table").remove()
                $("#image_group").remove();
                $("#loading").append("<img id='loading_img' style=\"height: 40px\" src=\"/static/image/loading.gif\" alt=\"\">")

            },
            complete: function () {
                $("#loading_img").remove();
                 $("#stat_btn").removeAttr("disabled");
            },
            success: function (data) {
                table_str = '<section class="content" id="table">\n' +
                    '      <div class="container-fluid"> ' +
                    '<div class="row">\n' +
                    '          <div class="col-12">\n' +
                    '            <div class="card" id="timecard_table">\n' +
                    '              <div class="card-header"><h3 class="card-title"><i class="fa fa-table">' +
                    '</i>&nbsp&nbspRequest Data</h3><div class="card-tools"><button type="button" class="btn btn-tool" data-card-widget="collapse">' +
                    '<i class="fas fa-minus"></i></button></div></div><div class="card-body p-1" ><table id="ad_stat_table" class="table table-bordered" style="WORD-WRAP: break-word" width="1">'

                $("#table_start").append(table_str).append("</table></div></div></div></div></div></section>")
                var columns = [{
                    field: 'dt',
                    title: 'Date',
                    sortable: true
                }, {
                    field: 'source_name',
                    title: 'Ad source',
                    sortable: true
                }, {
                    field: 'loc',
                    title: 'loc',
                    sortable: true
                }, {
                    field: 'req',
                    title: 'req',
                    sortable: true
                }, {
                    field: 'suc',
                    title: 'suc',
                    sortable: true
                }, {
                    field: 'fail',
                    title: 'fail',
                    sortable: true
                }];

                $('#ad_stat_table').DataTable({
                    "pageLength": 10,
                    "paging": true,
                    "lengthChange": false,
                    "searching": false,
                    "ordering": false,
                    "info": false,
                    "autoWidth": false,
                    columns: columns,
                    data: data['stat']
                });

                var html_str = '<div id="image_group">'
                for (var i = 0; i < data['info'].length; i++) {
                    for (var key in data['info'][i]) {
                        first_title = '<div class="col-12"><div class="card"> <div class="card-header"> <div class="card-title"><i class="far fa-file-image"></i>&nbsp&nbsp'+ key+'</div><div class="card-tools"><button type="button" class="btn btn-tool" data-card-widget="collapse">' +
                            '<i class="fas fa-minus"></i></button></div></div><div class="card-body">'
                        html_str += first_title

                        for (var key1 in data['info'][i][key]) {
                            console.log(data['info'][i][key][key1])
                            sec_title = '<div class="card"><div class="card-header"> <div class="card-title">'+key1+'</div><div class="card-tools"><button type="button" class="btn btn-tool" data-card-widget="collapse">' +
                                '<i class="fas fa-minus"></i></button></div></div><div class="card-body">'
                            html_str += sec_title
                            for (var j = 0; j < data['info'][i][key][key1].length; j++) {
                                console.log(data['info'][i][key][key1][j]['click_url'])
                                if (data['info'][i][key][key1][j]['is_html'] == '1') {

                                    div_str = '<div class="col-sm-2" style="border: 1px solid black;margin: 10px"><div class="box1" style="width: 300px"><div class="pic"><div class="html_str">' + data['info'][i][key][key1][j]['html_str'].replace("<base href=", '<base1 href=').replace('\\', '') + '</div><div class="html_detail">\n' +
                                        '<h4><span class="detail_text">Type&Size:</span>' + data['info'][i][key][key1][j]['ad_size'] + '</h4>\n' +
                                        '<p><span class="detail_text">Request Time:</span>' + data['info'][i][key][key1][j]['request_time'] + '</p>\n' +
                                        '<p><span class="detail_text">CreativeId:</span>' + data['info'][i][key][key1][j]['creative_id'] + '</p></div></div></div></div>'
                                }
                                else {
                                    div_str = '<div class="box1"><div class="pic">\n' +
                                        '<img src="' + data['info'][i][key][key1][j]['image_url'] + '"><div class="detail">\n' +
                                        '<p style="font-size: 14px"><span class="detail_text">Type&Size:&nbsp&nbsp</span>' + data['info'][i][key][key1][j]['ad_size'] + '</p>\n' +
                                        '<p style="font-size: 14px"><span class="detail_text">Request Time:&nbsp&nbsp</span>' + data['info'][i][key][key1][j]['request_time'] + '</p>\n' +
                                        '<p style="font-size: 14px"><span class="detail_text">Title:&nbsp&nbsp</span>' + data['info'][i][key][key1][j]['title'] + '</p>\n' +
                                        '<p style="font-size: 14px"><span class="detail_text">Desc:&nbsp&nbsp</span>' + data['info'][i][key][key1][j]['desc_str'] + '</p>\n' +
                                        '<p style="font-size: 14px"><span class="detail_text">Click:&nbsp&nbsp</span>' + data['info'][i][key][key1][j]['click_url'] + '</p>\n' +
                                        '<p style="font-size: 14px"><span class="detail_text">CreativeId:&nbsp&nbsp</span>' + data['info'][i][key][key1][j]['creative_id'] + '</p></div></div></div>'

                                }
                                html_str += div_str
                            }
                            html_str += '</div></div>'
                        }

                        html_str += '</div></div></div>'
                    }
                }
                html_str += ''

                $("#image_start").append(html_str)
            }
        })
    })
</script>
{% endblock %}