{% extends 'base.html' %}
{% load static %}

{% block title %}API Monitor{% endblock %}
{% block css %}

{% endblock %}
{% block admin_name %}<p>{{nickname}}</p>{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">API Monitor</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'quickit:dashboard' %}">Home</a></li>
              <li class="breadcrumb-item active">API Monitor</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
{% endblock %}

{% block content %}
<!-- Main content -->
 <!-- /.card -->

<section class="content">
      <div class="container-fluid">
        <div class="card card-info card-outline">
            <form class="form-inline" style="margin: 20px 20px">
                <div class="form-group">
       <label class="control-label col-sm-12" style="">Project</label></div>
                <div class="form-group">
       <select class="select2bs4"  data-placeholder="Select a Project" style="width:150px" id="project">
       </select></div>
                <div class="form-group">
       <label class="control-label col-sm-12" style="">ErrorType</label></div>
                <div class="form-group">
       <select class="select2bs4"  data-placeholder="Select a Errortype" style="width:150px" id="errortype">
       </select></div>
                <div class="form-group">
       <label class="control-label col-sm-12" style="">Date</label></div>
                <div class="form-group daterange">
       <input class="form-control" name="range_date" type="text" id="datetext">
       <i class="fa fa-calendar" aria-hidden="true"></i>
   </div>
                <div class="form-group">
       &nbsp;<button id="summit_btn" class="btn  bg-gradient-primary" type="button">Search</button></div>
            </form>
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-12">
            <div class="card  card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fa fa-table"></i>
                  Table
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body p-1" style="overflow-x: scroll">
                <table id="api_infos_table" class="table table-bordered" style="WORD-WRAP: break-word" width="1">
                <thead>
                        <tr>
                            <th class="text-center" style="width: 1%"><strong>ID</strong></th>
                            <th class="text-center" style="width: 10%;"><strong>PROJECT</strong></th>
                            <th class="text-center" style="width: 40%;"><strong>API</strong></th>
                            <th class="text-center" style="width: 10%;"><strong>ERRORTYPE</strong></th>
                            <th class="text-center" style="width: 15%;"><strong>CTIME</strong></th>
                        </tr>
                        </thead>
                <tbody>
                        {% for API_info in API_infos %}
                        <tr>
                            <td style="text-align: center">{{ API_info.id }}</td>
                            <td style="text-align: center">{{ API_info.project }}</td>
                            <td style="width: 210px;text-align: center"  >{{ API_info.api }}</td> <!-- 超过400px换行 -->
                            <td style="text-align: center">{{ API_info.errortype }}</td>
                            <td style="text-align: center">{{ API_info.ctime|date:"Y-m-d G:i:s" }}</td>
                        </tr>
                        {% empty %}
                        <tr></tr>
                        {% endfor %}
                        </tbody>
              </table>
              </div>
              <!-- /.card-body-->
            </div>
            <!-- Line chart -->
            <div class="card  card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Error Nums
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div id="container_num" style="height: 450px;width: 100%"></div>
              </div>
              <!-- /.card-body-->
            </div>
            <div class="card  card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Error Ratio
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div id="container_type" style="height: 450px;width: 100%"></div>
              </div>
              <!-- /.card-body-->
            </div>
            <!-- /.card -->

          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>

{% endblock %}



{% block script %}
<!-- Bootstrap -->
<!-- AdminLTE -->

<!-- OPTIONAL SCRIPTS -->
<script src="/static/AdminLTE-3.0.1/plugins/chart.js/Chart.min.js"></script>
<script src="/static/AdminLTE-3.0.1/dist/js/demo.js"></script>
<script src="/static/AdminLTE-3.0.1/dist/js/pages/dashboard3.js"></script>


<!-- FLOT CHARTS -->
<script src="/static/AdminLTE-3.0.1/plugins/flot/jquery.flot.js"></script>
<!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
<script src="/static/AdminLTE-3.0.1/plugins/flot-old/jquery.flot.resize.min.js"></script>
<!-- FLOT PIE PLUGIN - also used to draw donut charts -->
<script src="/static/AdminLTE-3.0.1/plugins/flot-old/jquery.flot.pie.min.js"></script>
<script src="{% static 'JS/api_monitor.js' %}"> </script>
<!-- Calendar -->

<script>
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        var projects = {{projects_list | safe}};
        var eroortypes = {{errortype_list | safe}};
        $('#project').append('<option>All</option>')
         $('#errortype').append('<option>All</option>')
        for (var i = 0; i < projects.length; i++) {
            $('#project').append('<option>' + projects[i] + '</option>')
        }
        ;
        for (var i = 0; i < projects.length; i++) {
            $('#errortype').append('<option>' + eroortypes[i] + '</option>')
        }
    });
</script>
<style>
    /* 定位i标签在input标签内 */
.daterange i {
    position: absolute;
    bottom: 10px;
    right: 14px;
    top: auto;
    cursor: pointer;
}
.daterange {
    position: relative;
}
/* daterange i end */
</style>
{% endblock %}