{% extends 'base.html' %}
{% load static %}
{% block title %}APK INFO{% endblock %}

  <!-- Main Sidebar Container -->

  <!-- Content Wrapper. Contains page content -->
{% block breadcrumb %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>APK INFO</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'quickit:dashboard' %}">Home</a></li>
              <li class="breadcrumb-item active">APK INFO</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
{% endblock %}
{% block content %}
<div class="modal fade" id="modal-danger">
        <div class="modal-dialog">
          <div class="modal-content bg-danger">
            <div class="modal-header">
              <h4 class="modal-title">Danger Modal</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>请确认是否删除该记录？</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-outline-light" id="delete_confirm">Confirm</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card card-outline card-info">
            <div class="card-header">
              <h3 class="card-title">APK SIZE CHECK</h3>
            </div>

            <!-- /.card-header -->
            <div class="card-body p-1" style="overflow-x: scroll"> <!-- 列太多加滚动 -->
                <form class="form-inline" style="margin: 30px 0px">
                        <div class="form-group">
                            <label class="control-label col-sm-12" style="">PKG&nbsp;NAME:</label></div>
                        <div class="form-group">
                            <select class="form-control select2bs4"  data-placeholder="Select a pkgname" style="width:200px"
                                    id="all_apk_name"></select></div>
                        <div class="form-group">
                            <label class="control-label col-sm-12" style="">COL:</label></div>
                        <div class="form-group">
                            <select class="form-control select2bs4" data-placeholder="Select a attribute" style="width:120px" id="all_col">
                                <option>apk_name</option>
                                <option>version</option>
                                <option>version_code</option>
                                <option>size</option>
                                <option>time</option>
                            </select></div>

                        <div class="form-group">
                            <input class="form-control col-sm-8" style="margin-left:10px;width: 600px"
                                   id="search_input" placeholder="Input keyword"></div>

                </form>

               <table id="apk_infos_table" class="table table-bordered table-hover" style="word-break:break-all;word-wrap:break-word">
                <thead>
                        <tr>
                            <th class="text-center" style="width: 10%"><strong>PKGNAME</strong></th>
                            <th class="text-center" style="width: 18%"><strong>APKNAME</strong></th>
                            <th class="text-center" style="width: 8%;"><strong>VERSION</strong></th>
                            <th class="text-center" style="width: 10%;"><strong>VERSIONCODE</strong></th>
                            <th class="text-center" style="width: 8%;"><strong>SIZE</strong></th>
                            <th class="text-center" style="width: 11%;"><strong>CTIME</strong></th>
                            <th class="text-center" style="width: 11%;"><strong>MORE</strong></th>
                        </tr>
                        </thead>
                <tbody>
                        {% for apk_info in apk_infos %}
                        <tr>
                            <td style="text-align: center">{{ apk_info.package_name }}</td>
                            <td style="text-align: center">{{ apk_info.apk_name }}</td> <!-- 超过400px换行 -->
                            <td style="text-align: center">{{ apk_info.version }}</td>
                            <td style="text-align: center">{{ apk_info.version_code }}</td>
                            <td style="text-align: center">{{ apk_info.size }}</td>
                            <td style="text-align: center">{{ apk_info.ctime|date:"Y-m-d G:i:s" }}</td>
                            <td style="text-align: center">
                                <a href="{% url 'testsite:detail' apk_info.apk_name %}" role="button" title="查看安装包详情" class="btn btn-primary btn-xs" ><i class="fas fa-folder">
                              </i>&nbspDetail</a>
                                <a id="choose" class="btn btn-info btn-xs" role="button" title="选择对比安装包" style="color: white;cursor:pointer"><i class="fa fa-check-square">
                              </i>&nbspSelect</a>
                                {% if is_super_admin %}
                                <a id="delete" class="btn btn-danger btn-xs" role="button" title="删除" data-toggle="modal" data-target="#modal-danger" style="color: white;cursor:pointer"><i class="fas fa-trash">
                              </i>&nbspDelete</a>
                                {% endif %}
                                <!--<a style="color:#404553;" href="{% url 'testsite:detail' apk_info.apk_name %}" title="查看安装包详情" class="fa fa-eye"-->
                              <!--&gt;&nbspdetail&nbsp&nbsp&nbsp</a>-->
                                <!--<a style="color:#404553;" href="#" class="fa faa-check-square" id="choose" title="选择对比安装包">&nbspselect&nbsp&nbsp&nbsp</a>-->
                                <!--{% if is_super_admin %}-->
                                <!--<a style="color:#404553;" href="#" class="fa fa-trash-o" id="delete" title="删除">&nbspdelete</a>-->
                                <!--{% endif %}-->
                            </td>
                        </tr>
                        {% empty %}
                        <tr>没有数据</tr>
                        {% endfor %}
                        </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          <!-- /.card -->
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">APK SIZE COMPARE</h3>
                </div>
                <div class="card-body">
<div>
              <div class="form-inline" style="margin-bottom: 20px;width: 70%">

                <label >APK NAME：</label>

                <!--<select  id="be_pk_apk" class="form-control select2" draggable="true" style="width:10%"  data-placeholder="选择安装包..."/><option value=""></option>-->
                <!--</select>-->
                  <!--<select multiple id="apk_size_pk" class=" chooser form-control select2" draggable="true" style="width: 70%"  data-placeholder="选择安装包..."/>-->
                <!--</select>-->
                <input type="text" placeholder="" class="form-control" style="width:400px"  id="test" data-role="tagsinput">
                <button style="margin-left: 10px" class="btn  bg-gradient-primary" id="pk_btn">COMPARE</button>
              </div>

    <div id="pk_table">

    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  <!-- /.content-wrapper -->
{% endblock %}




{% block script %}
<script src="{% static 'adminlet-2.4.10/bower_components/bootstrap/dist/js/bootstrap-tagsinput.min.js' %}"></script>
<script src="{% static 'JS/apk_list.js' %}"> </script>
<script>
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        var app_name_list = {{app_list | safe}};
        $('#all_apk_name').append('<option>All</option>')
        for (var i = 0; i < app_name_list.length; i++) {
            $('#all_apk_name').append('<option>' + app_name_list[i] + '</option>')
            // $('#be_pk_apk').append('<option>' + app_name_list[i] + '</option>')
        }
        ;

        // size对比下拉框
        var options = table.column(3).data()
        for (var i = 0; i < options.length; i++){
              $('#apk_size_pk').append("<option>"+options[i]+"</option>");
        }
    });</script>
{% endblock %}
