{% extends 'base.html' %}
{% load static %}
{% block title %}APM Detail{% endblock %}

  <!-- Main Sidebar Container -->

  <!-- Content Wrapper. Contains page content -->
{% block breadcrumb %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>APM Detail</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'quickit:dashboard' %}">Home</a></li>
              <li class="breadcrumb-item active">APM Detail</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
{% endblock %}

{% block content %}
 <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="row">
        <div class="col-12">
            <div class="card card-info card-outline">
                <div class="card-header">
                    <form class="form-inline" style="margin: 10px 0px">
                        <a href="{% url 'quickit:apm_offline' %}" class="nav-link active">
                            <i class="fas fa-reply" aria-hidden="true"></i>
                        </a>
                        <h3  class="card-title" id="logname">{{ apm_info.logname }}</h3>
                        <div class="form-group" style="margin: 0px 5px 0px 350px">
                            <label class="control-label col-sm-12" style="">Competitor</label></div>
                        <div class="form-group" style="margin: 0px 0px">
                            <select class="select2bs4"  data-placeholder="Select a Project" style="width: 200px;" id="competitor_project">
                            </select></div>
                        <div class="form-group" style="margin: 0px 10px">
                            <button id="summit_btn" class="btn  bg-gradient-primary" type="button">COMPARE</button></div>
                    </form>

                </div>
        </div>
            <div class="card  card-outline" id="cpu_chart">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fa fa-chart-line"></i>
                  CPU
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div id="container_cpu" style="height: 350px;width: 100%"></div>
              </div>
              <!-- /.card-body-->
            </div>
            <div class="card  card-outline" id="mem_chart">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fa fa-chart-line"></i>
                  MEM INFO
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div id="container_mem" style="height: 350px;width: 100%"></div>
              </div>
              <!-- /.card-body-->
            </div>
            <div class="card  card-outline" id="fps_chart">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fa fa-chart-line"></i>
                  FPS
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div id="container_fps" style="height: 350px;width: 100%"></div>
              </div>
              <!-- /.card-body-->
            </div>
            <div class="card  card-outline" id="flow_chart">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fa fa-chart-line"></i>
                  DATA USAGE
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div id="container_flow" style="height: 350px;width: 100%"></div>
              </div>
              <!-- /.card-body-->
            </div>
    </div>
        <!-- /.col -->
      </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->

{% endblock %}


{% block script %}
<script src="/static/plugin/loading/js/loading.js"></script>
<script src="{% static 'JS/apm_detail.js' %}"> </script>
{% endblock %}