{% extends 'base.html' %}
{% load static %}

{% block title %}App Debug{% endblock %}
{% block css %}
{% endblock %}
{% block admin_name %}<p>{{nickname}}</p>{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">App Debug</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'quickit:dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">App Debug</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
{% endblock %}

{% block content %}
<!-- Main content -->
<!-- /.card -->
<!-- Button trigger modal -->

<div class="modal fade" id="second_confirm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<h4>确认</h4>-->
                <button type="button" class="close close_new" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="switch_confirm">
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-success close_new" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="delete_confirm">Confirm</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="add_anm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Add Anm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="add_anm_confirm">
                <form class="form-inline" style="">
                    <div class="form-group" style="width: 100%">
                        <label class="control-label" style="width: 10%">Anm:</label>

                        <input type="text" id="anm_input" class="form-control" placeholder="Input New Anm..."
                               style="width: 85%">
                    </div>

                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-sm" id="add_confirm">Submit</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- modal -->
<section class="content">
    <div class="container-fluid" id="main">
        <div class="card card-dark card-outline">
            <div class="card-header">


                <div class="card-tools">
                    <button id="add_btn" type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target="#add_anm">
                        <i class="fa fa-plus"></i>
                        Add Anm
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-12 form-row" style="padding-top: 30px;" id="add_start">


                </div>

            </div>
        </div>
    </div>
    </div>
</section>


{% endblock %}


{% block script %}
<!-- Bootstrap -->
<!-- AdminLTE -->

<!-- OPTIONAL SCRIPTS -->
<script src="/static/AdminLTE-3.0.1/plugins/chart.js/Chart.min.js"></script>
<script src="/static/AdminLTE-3.0.1/dist/js/demo.js"></script>
<script src="/static/AdminLTE-3.0.1/dist/js/pages/dashboard3.js"></script>
<script src="/static/plugin/json-viewer/js/jquery.json-viewer.js"></script>
<!-- Bootstrap Switch -->
<script src="/static/AdminLTE-3.0.1//plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<!-- FLOT CHARTS -->
<script src="/static/AdminLTE-3.0.1/plugins/flot/jquery.flot.js"></script>
<!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
<script src="/static/AdminLTE-3.0.1/plugins/flot-old/jquery.flot.resize.min.js"></script>
<!-- FLOT PIE PLUGIN - also used to draw donut charts -->
<script src="/static/AdminLTE-3.0.1/plugins/flot-old/jquery.flot.pie.min.js"></script>
<script src="/static/plugin/loading/js/loading.js"></script>
<script src="/static/AdminLTE-3.0.1/plugins/jqueryEditableSelect/src/js/jquery.editable-select.js"></script>
<!--<script src="https://rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>-->
<script>


    $(document).ready(function () {
        var result = {{result | safe}};
        if (Object.keys(result).length != 0) {
            for (var i in result) {
                if (result[i] == 1) {
                    $('#add_start').append('<div class="callout callout-success form-group col-md-5" style="margin-left: 40px" id="anm_' + i + '">\n' +
                        '    <div class="form-row">\n' +
                        '        <h4 style="margin-left: 20px;">' + i + '</h4>\n' +
                        '        <div style=" position:absolute;right: 20px; ">\n' +
                        '            <input type="checkbox" id = "' + i + '" class="switch_new"   name="my-checkbox" data-off-color="warning"\n' +
                        '                   data-on-color="success">\n' +
                        '        </div>\n' +
                        '    </div>\n' +
                        '</div>');
                    $("#" + i).bootstrapSwitch({
                        onText: 'On',
                        offText: 'Off',
                        onSwitchChange: function (event, state) {
                            edit(event.target.id, state)
                        }
                    }).bootstrapSwitch('state', true, true)
                } else {
                    $('#add_start').append('<div class="callout callout-warning form-group col-md-5"  style="margin-left: 40px" id="anm_' + i + '">\n' +
                        '    <div class="form-row">\n' +
                        '        <h4 style="margin-left: 20px;">' + i + '</h4>\n' +
                        '        <div style=" position:absolute;right: 20px; ">\n' +
                        '            <input type="checkbox" class="switch_new"  id = "' + i + '"  ' +
                        '  name="my-checkbox" data-off-color="warning"\n' +
                        '                   data-on-color="success">\n' +
                        '        </div>\n' +
                        '    </div>\n' +
                        '</div>')
                    $("#" + i).bootstrapSwitch({
                        onText: 'On',
                        offText: 'Off',
                        onSwitchChange: function (event, state) {
                            edit(event.target.id, state)
                        }
                    }).bootstrapSwitch('state', false, true)
                }
            }
        }
        else {
            $('#add_start').append('<p id="no_anm">暂无可管理项目</p>')
        }
    })
    //这一部分可以展示出没有权限的anm，但是不能编辑。算是两种交互方式吧
    // else
    //     {
    //         if (result[i] == 1) {
    //             $('#add_start').append('<div class="callout  form-group col-md-6">\n' +
    //                 '    <div class="form-row">\n' +
    //                 '        <h4 style="margin-left: 20px;">' + i + '</h4>\n' +
    //                 '        <div style=" position:absolute;right: 20px; ">\n' +
    //                 '            <input type="checkbox" id = "' + i + '"    class="switch_on_off" disabled name="my-checkbox" data-off-color="default"\n' +
    //                 '                   data-on-color="default">\n' +
    //                 '        </div>\n' +
    //                 '    </div>\n' +
    //                 '</div>')
    //             $("#" + i + "").bootstrapSwitch({
    //                 onText: 'On',
    //                 offText: 'Off'
    //             }).bootstrapSwitch('state', true)
    //         } else {
    //             $('#add_start').append('<div class="callout  form-group col-md-6" >\n' +
    //                 '    <div class="form-row">\n' +
    //                 '        <h4 style="margin-left: 20px;">' + i + '</h4>\n' +
    //                 '        <div style=" position:absolute;right: 20px; ">\n' +
    //                 '            <input type="checkbox"  id = "' + i + '"  class="switch_on_off"  disabled name="my-checkbox" data-off-color="default"\n' +
    //                 '                   data-on-color="default">\n' +
    //                 '        </div>\n' +
    //                 '    </div>\n' +
    //                 '</div>')
    //             $("#" + i + "").bootstrapSwitch({
    //                 onText: 'On',
    //                 offText: 'Off'
    //             }).bootstrapSwitch('state', false)
    //         }
    //     }

    function edit(i, state) {
        if (state == 1) {
            var str = "<p id='switch_confirm_info'>是否要开启" + i + "的app debug？</p>"

        } else {
            var str = "<p id='switch_confirm_info'>是否要关闭" + i + "的app debug？</p>"

        }

        $('#switch_confirm').append(str)
        $('#second_confirm').modal('show')
        $('.close_new').click(function () {
            $('#model_remove').remove()
            if (state == 1) {
                $('#' + i).bootstrapSwitch('state', false, true)

            } else {
                $('#' + i).bootstrapSwitch('state', true, true)
            }
        })
    }

    $('#add_confirm').click(function () {
        var new_anm = $('#anm_input').val()
        if (new_anm != '') {
            $.ajax({
                url: "/app_debug_add_anm/",
                type: "GET",
                async: true,
                data: {
                    anm: new_anm

                },
                beforeSend: function () {
                    loading();

                },
                complete: function () {
                    removeLoading('test');
                },
                success: function (data) {
                    if (data['code'] == 200) {
                        toastr.success('添加成功');
                        $('#add_anm').modal('hide')
                        $('#anm_input').val("")
                        $("#no_anm").remove()
                        $('#add_start').append('<div class="callout callout-warning form-group col-md-5"  style="margin-left: 40px" id="anm_' + new_anm + '">\n' +
                            '    <div class="form-row">\n' +
                            '        <h4 style="margin-left: 20px;">' + new_anm + '</h4>\n' +
                            '        <div style=" position:absolute;right: 20px; ">\n' +
                            '            <input type="checkbox" class="switch_new"  id = "' + new_anm + '"  ' +
                            '  name="my-checkbox" data-off-color="warning"\n' +
                            '                   data-on-color="success">\n' +
                            '        </div>\n' +
                            '    </div>\n' +
                            '</div>')
                        $("#" + new_anm).bootstrapSwitch({
                            onText: 'On',
                            offText: 'Off',
                            onSwitchChange: function (event, state) {
                                edit(event.target.id, state)
                            }
                        }).bootstrapSwitch('state', false, true)
                    }
                    if (data['code'] == 202) {
                        $('#anm_input').val("")
                        toastr.error("已存在该anm，未展示为无权限操作，无法重复添加")

                    }
                }
            });
        }
    })

    $('#delete_confirm').click(function () {
        var id = $('#switch_confirm_info').text().slice(5, -11)
        var state1 = $('#' + id).bootstrapSwitch('state')
        if (state1 == true) {
            var state = 1
            var class_str = 'callout callout-success form-group col-md-5'
        } else {
            var state = 0
            var class_str = 'callout callout-warning form-group col-md-5'
        }
        $('#second_confirm').modal('hide')
        $.ajax({
            url: "/app_debug_api/",
            type: "GET",
            async: true,
            data: {
                anm: id,
                status: state
            },
            beforeSend: function () {
                loading();
            },
            complete: function () {
                removeLoading('test');
            },
            success: function () {
                toastr.success('操作成功');
                $('#anm_' + id).removeClass()
                $('#anm_' + id).addClass(class_str)
            }
        });
    })


    $('#second_confirm').on('hide.bs.modal', function () {
        $('#switch_confirm_info').remove()
    })


    $("#default_status").bootstrapSwitch({
        onText: 'On',
        offText: 'Off',
        onSwitchChange: function (event, state) {
            edit(event.target.id, state)
        }
    }).bootstrapSwitch('state', false, true)

    function loading() {
        $('body').loading({
            loadingWidth: 120,
            title: '',
            name: 'test',
            discription: '',
            direction: 'column',
            type: 'origin',
            // originBg:'#71EA71',
            originDivWidth: 40,
            originDivHeight: 40,
            originWidth: 6,
            originHeight: 6,
            smallLoading: false,
            loadingMaskBg: 'rgba(0,0,0,0.2)'
        });
        setTimeout(function () {
        }, 3000);
    };


</script>
<!-- Calendar -->
{% endblock %}