{% extends 'base.html' %}
{% load static %}

{% block title %}APP LOG{% endblock %}
{% block css %}

{% endblock %}
{% block admin_name %}<p>{{nickname}}</p>{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">APP LOG</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'quickit:dashboard' %}">Home</a></li>
              <li class="breadcrumb-item active">APP LOG</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
{% endblock %}

{% block content %}
<section class="content">
      <div class="container-fluid">
        <div class="card card-info card-outline">
            <form class="form-inline" style="margin: 20px 20px">
                <div class="form-group">
                    <label class="control-label col-sm-12" style="">Project:</label></div>
                <div class="form-group">
                    <select class="select2bs4"  data-placeholder="" style="width: 180px;" id="project">

                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-12" style="">Filter:</label></div>
                <div class="form-group">
                    <select class="select2bs4"  data-placeholder="" style="width: 100px;" id="Filter">
                        <option>DID</option>
                        <option>VERSION</option>
                        <option>REMARK</option>
                    </select>
                </div>
                <div class="form-group" id="keywordfrom">
                    <input type="text"  id="keyword_txt" spellcheck="false" class="form-control"  placeholder="Input keyword..." style="width: 255px;margin-left: 10px">
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-12" style="">Date:</label></div>
                <div class="form-group daterange">
                    <input class="form-control" name="range_date" type="text" id="datetext">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
                <div class="form-group">
                    &nbsp;<button id="summit_btn" class="btn  bg-gradient-primary" type="button" style="margin-left: 10px">Search</button>
                </div>
            </form>
            <form class="form-inline" style="margin: 0px 20px">
                 <table id="applog_table" class="table table-bordered" style="word-break:break-all;word-wrap:break-word"></table>
            </form>
        </div>
      </div><!-- /.container-fluid -->
</section>


{% endblock %}



{% block script %}
<!-- Bootstrap -->
<!-- AdminLTE -->





<script src="{% static 'JS/applog.js' %}"> </script>
<script src="/static/plugin/loading/js/loading.js"></script>

<script>
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        var app_name_list = {{app_list | safe}};
        $('#project').append('<option>All</option>')
        for (var i = 0; i < app_name_list.length; i++) {
            $('#project').append('<option>' + app_name_list[i] + '</option>')
            // $('#be_pk_apk').append('<option>' + app_name_list[i] + '</option>')
        }
        ;
    });
</script>

{% endblock %}