{% extends 'base.html' %}
{% load static %}
{% block title %}ChangePassword{% endblock %}

{% block css %}
{% endblock %}
{% block admin_name %}<p>{{nickname}}</p>{% endblock %}

{% block breadcrumb %}
    <!-- Content Header (Page header) -->
     <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Change Password</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'quickit:dashboard' %}">Home</a></li>
              <li class="breadcrumb-item active">ChangePassword</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
<div class="row">
        <div class="col-12">
            <div class="card card-info card-outline">
                <div class="card-body">
                    <div class="box-body" style="width: 50%;margin-left: 20%">
  <div class="box box-info">
            <div class="box-header with-border" >
              <!--<h3 class="box-title">Horizontal Form</h3>-->

            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="old_pwd" class="col-sm-4 control-label">Old Password</label>

                  <div class="col-sm-10">
                    <input type="password" name="old_pwd" class="form-control" id="old_pwd" placeholder="Input old password">
                  </div>
                </div>
                <div class="form-group">
                  <label for="new_pwd"  class="col-sm-4 control-label">New Password</label>

                  <div class="col-sm-10">
                    <input type="password" name="new_pwd1" class="form-control" id="new_pwd" placeholder="Input new password">
                  </div>
                </div>

                  <div class="form-group">
                  <label for="confirm" class="col-sm-4 control-label">Confirm Password</label>

                  <div class="col-sm-10">
                    <input type="password" name="new_pwd2" class="form-control" id="confirm" placeholder="Input new password again">
                  </div>

                </div>
                  <div class="form-group">
                      <div class="col-sm-10">
                          <button id="change_btn" class="btn  bg-gradient-primary center-block">Submit</button>
                      </div>

                  </div>

              </div>
              <!-- /.box-body -->
            </form>

          </div>

  </div></div>
            </div>
        </div>
    </div>
        <!-- /.col -->
      </div>
</section>


{% endblock %}

{% block script %}

<script src="{% static 'JS/change_password.js' %}"></script>


{% endblock %}