{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}
{% block css %}{% endblock %}
{% block admin_name %}<p>{{nickname}}</p>{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
{% endblock %}

{% block content %}
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>APP Client</h3>

                <p>APK LOG APM</p>
              </div>
              <div class="icon">
                <i class="nav-icon  fa fa-mobile"></i>
              </div>
              <a href="{% url 'quickit:apk_list' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>SERVER</h3>
                <p>API Runner BI Data</p>
              </div>
              <div class="icon">
                <i class="nav-icon fa fa-server"></i>
              </div>
              <a href="{% url 'quickit:offline_log' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-primary">
              <div class="inner">
                <h3>WEB</h3>

                <p>CMS Config</p>
              </div>
              <div class="icon">
                <i class="nav-icon fa fa-globe"></i>
              </div>
              <a href="{% url 'quickit:query_config' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>DevOps</h3>

                <p>CI Server</p>
              </div>
              <div class="icon">
                <i class="nav-icon fa fa-wrench"></i>
              </div>
              <a href="{% url 'quickit:ci_server' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <div class="card card-secondary card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  Server Monitor
                </h3>

                <div class="card-tools">
                  Real time
                  <div class="btn-group" id="realtime" data-toggle="btn-toggle">
                    <button type="button" class="btn btn-default btn-sm active" data-toggle="on">On</button>
                    <button type="button" class="btn btn-default btn-sm" data-toggle="off">Off</button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                 <div id="container" style="height: 350px;width: 100%"></div>
              </div>
              <!-- /.card-body-->
            </div>

      </div><!-- /.container-fluid -->
    </section>

    <!-- /.content -->

{% endblock %}
{% block script %}
<script src="{% static 'JS/dashboard.js' %}"> </script>
<script src="https://code.highcharts.com.cn/highcharts/themes/avocado.js"></script>
{% endblock %}