{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/image/logo-nemo.png">
<!--    #待替换-->

    <title>Quick TI</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/adminlet-2.4.10/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'adminlet-2.4.10/bower_components/toastr/toastr.min.css' %}">
  <!-- Bootstrap core CSS -->


  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NEMO Quick TI</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#go_down">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://47.88.153.30:8081/" target="_blank">打包平台</a></li>
                <li><a href="http://47.106.194.167:8081/" target="_blank">打包平台(New)</a></li>
                <li><a href="http://47.88.153.30:8283/" target="_blank">BUG管理系统</a></li>
                <li><a href="http://47.88.153.30:8585/" target="_blank">代码扫描平台</a></li>
                <li><a href="http://192.168.8.198:4000" target="_blank">云测平台</a></li>
                <li><a href="{% url 'quickit:tool' %}" target="_blank">工具</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" name="username" placeholder="Username" id="username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" id="password" class="form-control">
            </div>
            <button id="Sign_in"  class="btn btn-primary">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="">
      <div align="center" style="" class="container">
        <h1>Testing Intelligence</h1>
        <p>Quick TI 专为NEMO测试、研发人员量身打造的新一代智能测试平台。
           <br>平台的功能模块主要分为客户端、后端、工具。<br />
        </p>
        <p><a class="btn btn-primary btn-lg"  href="#go_to" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container" >
      <!-- Example row of columns -->
      <div class="row" style="margin: 80px 0px">
        <div align="center"  class="col-md-3">
          <img class="img-circle" src="/static/image/Jenkins_logo.png" alt="Generic placeholder image" width="180" height="170">
          <h2>CI/CD平台</h2>
          <p><a class="btn btn btn-primary" target="_blank" rel="noopener noreferrer" href="http://47.88.153.30:8081/" role="button">Jump To &raquo;</a></p>
        </div>
        <div align="center" class="col-md-3">
          <img class="img-circle" src="/static/image/JIRA_logo.png" alt="Generic placeholder image" width="180" height="170">
          <h2>BUG管理系统</h2>
          <p><a class="btn btn btn-primary" target="_blank" rel="noopener noreferrer" href="http://47.88.153.30:8283/secure/Dashboard.jspa" role="button">Jump To &raquo;</a></p>
       </div>
        <div align="center" class="col-md-3">
          <img class="img-circle" src="/static/image/STF_logo.jpg" alt="Generic placeholder image" width="180" height="170">
          <h2 >APP云测平台</h2>
          <p><a class="btn btn btn-primary" target="_blank" rel="noopener noreferrer" href="http://192.168.8.198:4000" role="button">Jump To &raquo;</a></p>
        </div>
        <div align="center" class="col-md-3">
          <img class="img-circle" src="/static/image/Sonar_logo.png" alt="Generic placeholder image" width="180" height="170">
          <h2 style="text-align:center">静态代码扫描平台</h2>
          <p><a class="btn btn btn-primary" target="_blank" rel="noopener noreferrer" href="http://47.88.153.30:8585" role="button">Jump To &raquo;</a></p>
        </div>
      </div>

      <hr class="featurette-divider" id="go_to">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="/static/image/ComingSoon.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="/static/image/ComingSoon.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="/static/image/ComingSoon.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider" id="go_down">

      <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      技术支持：陈宏庆、张策
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2019-2020 </strong> NEMO - All rights reserved.
  </footer>
    </div> <!-- /container -->

    <!-- START THE FEATURETTES -->

     </body>
</html>

<style>
  body {
  padding-top: 50px;
  padding-bottom: 20px;
}
  nav.navbar-inverse {
    background-color: #404553;
    border-color: #404553
  }
  .navbar-inverse .navbar-brand{
    color: #fff;
  }
  .featurette-divider {
    margin: 80px 0;
}
  .btn-primary{
    background-color: #009688;
    border-color: #009688
  }
  .btn-primary:hover{
    background-color: #00bfad;
    border-color: #00bfad
  }
  .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary{
      background-color: #00bfad;
    border-color: #00bfad
  }
  .btn-primary.focus, .btn-primary:focus{
    background-color: #00bfad;
    border-color: #00bfad
  }
  .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
    background-color: #00bfad;
    border-color: #00bfad
  }
</style>
<!-- jQuery 3 -->
<script src="{% static 'adminlet-2.4.10/bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static 'adminlet-2.4.10/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'adminlet-2.4.10/dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'adminlet-2.4.10/bower_components/select2/dist/js/select2.min.js' %}"></script>
<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'adminlet-2.4.10/bower_components/toastr/toastr.min.js' %}"></script>

<script>
  toastr.options = {
        closeButton: false,                                            // 是否显示关闭按钮，（提示框右上角关闭按钮）
        debug: false,                                                    // 是否使用deBug模式
        progressBar: true,                                            // 是否显示进度条，（设置关闭的超时时间进度条）
        positionClass: "toast-top-center",              // 设置提示款显示的位置
        onclick: null,                                                     // 点击消息框自定义事件 
        showDuration: "300",                                      // 显示动画的时间
        hideDuration: "1000",                                     //  消失的动画时间
        timeOut: "2000",                                             //  自动关闭超时时间 
        extendedTimeOut: "1000",                             //  加长展示时间
        showEasing: "swing",                                     //  显示时的动画缓冲方式
        hideEasing: "linear",                                       //   消失时的动画缓冲方式
        showMethod: "fadeIn",                                   //   显示时的动画方式
        hideMethod: "fadeOut"                                   //   消失时的动画方式
    };
  $('#Sign_in').on('click', function () {
        var username = document.getElementById("username").value
        var password = document.getElementById("password").value

        if (username =='' || password=='') {
            console.log(username)
            toastr.warning('账号或密码不能为空！');
            return false
        }else{
                $.ajax({
                    url: "/login_api/",
                    type: "POST",
                    async: false,
                    data: {
                        username: username,
                        password: password
                    },
                    success: function (data) {
                        if (data['code']==200){
                            toastr.success('登录成功！');
                            window.location.href = "/dashboard/";
                            return  false
                        }if (data['code']==202) {
                            toastr.error ("账号或密码错误！")
                            return  false
                        }

                    }
                });
                return false;

        }
    })
</script>
