{% extends 'base.html' %}
{% load static %}

{% block title %}BI Data{% endblock %}
{% block css %}

{% endblock %}
{% block admin_name %}<p>{{nickname}}</p>{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Offline Log</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'quickit:dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Offline Log</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
{% endblock %}

{% block content %}
<!-- Main content -->
<!-- /.card -->
<!-- Button trigger modal -->
<!-- modal -->
<div data-backdrop="static" data-keyboard="false"backdrop:static class="modal fade" id="modal-case">
    <div class="modal-dialog modal-xl" style="width: 1080px">
        <div class="modal-content">
            <div class="modal-header" style="height: 70px">
                <h4 class="modal-title"><strong>Check Actions</strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <section class="content">
                    <div class="container-fluid">
                        <div class="card card-info">
                            <form class="form-inline" style="margin: 20px 20px">
                                <div class="form-group">
                                    <label class="control-label col-sm-12" style="">ANM:</label></div>
                                <div class="form-group">
                                    <select class="select2bs4" data-placeholder="" style="width: 100px;" id="Modal-ANM">
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-12" style="">DID:</label></div>
                                <div class="form-group">
                                    <input type="text" id="Modal-DID" spellcheck="false" class="form-control"
                                           placeholder="Input DID" style="width: 200px;margin-left: 10px">
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-12" style="">Version:</label></div>
                                <div class="form-group">
                                    <input type="text" id="Modal-VER" spellcheck="false" class="form-control"
                                           placeholder="Input Ver" style="width: 100px;margin-left: 10px">
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-12" style="margin-right: 10px">LogTime:</label>
                                </div>
                                <div class="form-group daterange">
                                    <input class="form-control" name="range_date" type="text" id="Modal-DATE"
                                           style="">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>

                                <div class="form-group">
                                    <button type="button" id="run_action" class="btn btn-outline-primary "
                                            style="margin-left: 10px;width: 90px;">
                                        <i class="fa fa-play">
                                        </i> Run
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </section>

                <section class="content">
                    <div class="container-fluid">

                        <div class="card card-info card-outline card-dark">
                            <div class='card-header' id="card-header">Action Manage
                                <button type="button" id="edit_actions" class="btn  btn-sm btn-success float-right"
                                        style="margin-left: 10px;width: 50px" title="update">
                                    Edit
                                </button>
                                <button type="button" id="add_action"
                                        class="btn btn-info btn-warning btn-sm float-right"
                                        style="display:none;margin-left: 10px" title="add actions">

                                    <i class="fa fa-plus"></i> Add
                                </button>
                            </div>

                            <form class="form-inline" id="actionsmanager" style="margin: 20px 20px">

                            </form>

                        </div>

                    </div>
                </section>
            </div>
            <!--<div class="modal-footer justify-content-between">-->
            <!--</div>-->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="modal fade" id="ModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Log Content</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <pre id="content"></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<section class="content">
    <div class="container-fluid">
        <div class="card card-info card-outline">
            <form class="form-inline" style="margin: 20px 20px">
                <div class="form-group">
                    <label class="control-label col-sm-12" style="">ANM:</label></div>
                <div class="form-group">
                    <select class="select2bs4" data-placeholder="" style="width: 100px;" id="ANM">
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-12" style="">Filter:</label></div>
                <div class="form-group">

                    <select class="select2bs4" data-placeholder="" style="width: 100px;" id="Filter">
                        <option>ACTION</option>
                        <option>SUBANM</option>
                        <option>DID</option>
                        <option>BRD</option>
                        <option>VERSION</option>
                        <option>CONTENT</option>
                        <option>PROJECT</option>
                        <option>TYPE</option>
                    </select>
                </div>
                <div class="form-group" id="keywordfrom">
                    <input type="text" id="keyword_txt" spellcheck="false" class="form-control"
                           placeholder="Input keyword..." style="width: 400px;margin-left: 10px">
                </div>
                <div class="form-group">
                    &nbsp;<button id="summit_btn" class="btn  bg-gradient-primary" type="button"
                                  style="margin-left: 10px">Search
                </button>


                    <button id="summit_btn1" class="btn  bg-gradient-green" type="button" data-toggle="modal"
                            data-target="#modal-case" style="margin-left: 10px">Auto Check
                    </button>
                </div>


            </form>
            <form class="form-inline" style="margin: 0px 20px">
                <table id="apploginfo_table" class="table table-bordered"
                       style="word-break:break-all;word-wrap:break-word"></table>
            </form>
        </div>

    </div><!-- /.container-fluid -->
</section>

{% endblock %}


{% block script %}
<!-- Bootstrap -->
<!-- AdminLTE -->

<!-- OPTIONAL SCRIPTS -->
<script src="/static/AdminLTE-3.0.1/plugins/chart.js/Chart.min.js"></script>
<script src="/static/AdminLTE-3.0.1/dist/js/demo.js"></script>
<script src="/static/AdminLTE-3.0.1/dist/js/pages/dashboard3.js"></script>


<!-- FLOT CHARTS -->
<script src="/static/AdminLTE-3.0.1/plugins/flot/jquery.flot.js"></script>
<!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
<script src="/static/AdminLTE-3.0.1/plugins/flot-old/jquery.flot.resize.min.js"></script>
<!-- FLOT PIE PLUGIN - also used to draw donut charts -->
<script src="/static/AdminLTE-3.0.1/plugins/flot-old/jquery.flot.pie.min.js"></script>
<script src="{% static 'JS/offline_log.js' %}"></script>
<script src="/static/plugin/loading/js/loading.js"></script>
<script>


    var anms_list = {{anms_list | safe}};
    $('#ANM').append('<option>All</option>')
    for (var i = 0; i < anms_list.length; i++) {
        $('#ANM').append('<option>' + anms_list[i] + '</option>')
        $('#Modal-ANM').append('<option>' + anms_list[i] + '</option>')
    };


    $('#add_action').on('click', function () {
        $('#null_tip').remove()
        $(".action_status").remove()
        $("#edit_actions").show()
        $("#edit_actions").text('Save')
        var actions = document.getElementsByClassName("add_input")
        var is_null = false
        for (var i = 0; i < actions.length; i++) {
            if (actions[i].value == '') {
                is_null = true
            }
        }
        if (is_null == true) {
            toastr.warning("Blank action to be saved!!")
        } else {
            $('#actionsmanager').append("<div class=\"form-group actions_line_class\" style='margin-bottom: 10px' id='actions" + actions.length + "'>\n" +
                "                    <input class=\"form-control add_input\" style='width: 920px'  placeholder=\"Input Action...\" id='actions_input" + actions.length + "'>" +
            "<i style='cursor:pointer;margin-left: 20px;color: #DC143C; ' title=\"delete\" id='remove_btn" + actions.length + "' class='fas fa-trash remove_action'></i>" +
                "                  </div>")

        }
    });


    $("#edit_actions").on('click', function () {
        if ($("#edit_actions").text().trim() == 'Edit') {
            $("#edit_actions").text('Save')
            $(".action_status").remove()
            $('.add_input').removeAttr("readonly")
            $("#add_action").show()
            var actions = document.getElementsByClassName("add_input")
            for (var i = 0; i < actions.length; i++) {
                $("#" + 'actions' + i).append("<i title=\"delete\"  style='cursor:pointer;margin-left: 20px;color: #DC143C; ' id='remove_btn" + i + "' class='fas fa-trash remove_action'></i>")
            }

        } else {
            //点击保存
            var actions = document.getElementsByClassName("add_input")
            var is_null = false
            for (var i = 0; i < actions.length; i++) {
                if (actions[i].value == '') {
                    is_null = true
                }
            }
            if (is_null == true) {
                toastr.warning("Blank action to be saved!!")
            } else if (actions.length == 0) {
                $("#edit_actions").hide()
                $("#add_action").show()
            }else {
                $("#edit_actions").text('Edit')
                $('.add_input').attr("readonly", true)
                $('.remove_action').remove()
                $("#add_action").hide()
                var actions = document.getElementsByClassName("add_input")
                var actions_list = []
                for (var i = 0; i < actions.length; i++) {
                    actions_list.push(actions[i].value)
                    actions[i].id = 'actions_input' + i
                }
                ;

                var actions_line = document.getElementsByClassName("actions_line_class")
                for (var i = 0; i < actions_line.length; i++) {
                    actions_line[i].id = 'actions' + i
                }
                ;

                var remove_btns = document.getElementsByClassName("remove_action")
                for (var i = 0; i < remove_btns.length; i++) {
                    remove_btns[i].id = 'remove_btn' + i
                }
                ;

                actions = actions_list.join(",")
                var anm = $('#Modal-ANM').val()
                var did = $('#Modal-DID').val()
                var ver = $('#Modal-VER').val()
                $.ajax({
                    url: "/save_bi_actions/",
                    type: "POST",
                    dataType: 'json',
                    data: {
                        actions: actions,
                        anm: anm,
                        did: did,
                        ver: ver,
                        ext: ""
                    },
                    async: true
                    , success: function (data) {
                        toastr.success("Save success!!")
                    }
                })
            }
        }

    });



    $(document).on('click','i', function (event) {
        var id = event.target.id
        if (id.substring(0, 10) == "remove_btn") {
            var actions_id = 'actions' + id.substring(10)
            $("#" + actions_id).remove()
            var actions = document.getElementsByClassName("add_input")
            if (actions.length == 0) {
                $('#actionsmanager').append("<p id='null_tip'>Please Add Actions</p>")
            }
        }


    })



    $('#modal-case').on('show.bs.modal', function () {
            $.ajax({
                    url: "/get_bi_actions/",
                    type: "POST",
                    async: true,
                    data: {
                        ext: "last_select"
                    },
                    beforeSend: function () {
                        loading();

                    },
                    complete: function () {
                        removeLoading('test');
                    },
                    success: function (data) {
                        var action_list = data['action_list']
                        $('#Modal-DID').val(data['did'])
                        $('#Modal-VER').val(data['ver'])
                        $('#Modal-ANM').val(data['anm']).trigger("change")
                        if (action_list == '') {
                            $('#actionsmanager').append("<p id='null_tip'>Please Add Actions</p>")
                            $("#edit_actions").hide()
                            $("#add_action").show()
                        } else {
                            $("#edit_actions").show()
                            $("#edit_actions").text('Edit')
                            $("#add_action").hide()
                            for (var i = 0; i < action_list.length; i++) {
                                $('#actionsmanager').append("<div class=\"form-group actions_line_class\" style='margin-bottom: 10px' id='actions" + i + "'>\n" +
                                    "                    <input class=\"form-control add_input\" style='width: 920px'  placeholder=\"Input Action...\" readonly value='" + action_list[i] + "' id='actions_input" + i + "'>" +
                                    "                  </div>")
                            }
                        }
                    }
                }
            )
        }
    )

    $('#modal-case').on('hide.bs.modal', function () {
        var actions = document.getElementsByClassName("add_input")
        var actions_list = []
        for (var i = 0; i < actions.length; i++) {
            if(actions[i].value !=''){
                actions_list.push(actions[i].value)
            }
        }
        ;
        actions = actions_list.join(",")
        var anm = $('#Modal-ANM').val()
        var did = $('#Modal-DID').val()
        var ver = $('#Modal-VER').val()
        $.ajax({
            url: "/save_bi_actions/",
            type: "POST",
            dataType: 'json',
            data: {
                actions: actions,
                anm: anm,
                did: did,
                ver: ver,
                ext: "last_select"
            },
            async: true
        })
        var elem = document.getElementById("actionsmanager");
        elem.innerHTML = "";
    });


    $('#Modal-ANM').on('select2:select', function () {
        var anm = $('#Modal-ANM').val()
        var did = $('#Modal-DID').val()
        var ver = $('#Modal-VER').val()
        $("#edit_actions").text('Edit')
        $.ajax({
                url: "/get_bi_actions/",
                type: "POST",
                async: true,
                data: {
                    anm: anm,
                    did: did,
                    ver: ver,
                    ext: ""
                },
                beforeSend: function () {
                    loading_actions();
                },
                complete: function () {
                    removeLoading('test1');
                },
                success: function (data) {
                    var elem = document.getElementById("actionsmanager");
                    elem.innerHTML = "";
                    var action_list = data['action_list']
                    $('#Modal-DID').val(data['did'])
                    $('#Modal-VER').val(data['ver'])
                    if (action_list == '') {
                        $('#actionsmanager').append("<p id='null_tip'>Please Add Actions</p>")
                        $("#edit_actions").hide()
                        $("#add_action").show()
                    } else {
                        $("#edit_actions").show()
                        $("#add_action").hide()
                        for (var i = 0; i < action_list.length; i++) {
                            $('#actionsmanager').append("<div class=\"form-group actions_line_class\" style='margin-bottom: 10px' id='actions" + i + "'>\n" +
                                "                    <input class=\"form-control add_input\" style='width: 920px'  placeholder=\"Input Action...\" readonly value='" + action_list[i] + "' id='actions_input" + i + "'>" +
                                "                  </div>")
                        }
                    }
                }
            }
        )

    });



    $('#run_action').on('click', function () {
        var anm = $('#Modal-ANM').val()
        var did = $('#Modal-DID').val()
        var ver = $('#Modal-VER').val()
        var date = $('#Modal-DATE').val()
        var actions = document.getElementsByClassName("add_input")
        if (actions.length == 0) {
            toastr.error("No Actions to check!!")
        } else if ($("#edit_actions").text().trim() == 'Save') {
            toastr.error("Please save first!!")
        }
        else {
            $.ajax({
                url: "/check_actions/",
                type: "POST",
                dataType: 'json',
                data: {
                    anm: anm,
                    did: did,
                    ver: ver,
                    date: date,
                },
                async: true,
                beforeSend: function () {
                    loading();
                    $(".action_status").remove()

                }, complete: function () {
                    removeLoading('test');
                },
                success: function (data) {
                    var result = data['result']
                    for (var i = 0; i < result.length; i++) {
                        if (result[i]['status'] == 1) {
                            $('#actions' + result[i]['id']).append("<span style='margin-left: 20px;font-size: 18px' class=\"badge badge-success action_status\"> Pass</span>")

                        } else {
                            $('#actions' + result[i]['id']).append("<span style='margin-left: 20px;font-size: 18px' class=\"badge badge-danger action_status\"> Fail</span>")
                        }

                    }
                }
            })
        }
    })

</script>

<!-- Calendar -->
{% endblock %}