{% extends 'base.html' %}
{% load static %}
{% block title %}apk详细{% endblock %}

{% block css %}

{% endblock %}

{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            安装包详情
            <small>apk info</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li>apk列表</li>
            <li class="active">详情</li>
        </ol>
    </section>
{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">

            <div class="box-header with-border">
                <h3 class="box-title"><strong class="btn btn-block btn-primary btn-sm">{{ apk_info.apk_name }}</strong>
                </h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i></button>
{#                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip"#}
{#                            title="Remove">#}
{#                        <i class="fa fa-times"></i></button>#}
                </div>
            </div>
<!--            <div class="box-footer">-->
<!--                <i class="fa fa-angle-double-left"></i>&nbsp;<a-->
<!--                    href="{% url 'quickit:apk_list' %}"><strong>返回apk列表页</strong></a>-->
<!--            </div>-->
<div class="box-footer">
                <i class="fa fa-angle-double-left"></i>&nbsp;&nbsp;<a
                    href="{% url 'quickit:apk_list' %}"><strong style="color: #009688">返回列表</strong></a>
            </div>
            <div class="box-body">

                <h4><b>size详情:</b></h4>
                <table border="1" class="table  table-responsive"
                       style="border-left:3px solid deepskyblue;border-bottom:1px solid deepskyblue">
                    <thead>
                    <tr>
                        <th>apk_name</th>
                        <th>版本号</th>
                        <th>大小</th>
                        <th>dex</th>
                        <th>so</th>
                        <th>xml</th>
                        <th>arsc</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ apk_info.apk_name }}</td>
                        <td>{{ apk_info.version }}</td>
                        <td>{{ apk_info.size|default:'N/A' }}</td>
                        <td>{{ apk_detail.dex|default:'N/A' }}</td>
                        <td>{{ apk_detail.so|default:'N/A' }}</td>
                        <td>{{ apk_detail.xml|default:'N/A' }}</td>
                        <td>{{apk_detail.arsc}}</td>



                    </tr>
                    </tbody>
                </table>
                <br/>

                <h4><b>其他参数:</b></h4>
                <table border="1" class="table  table-responsive"
                       style="border-left:3px solid #4b646f;border-bottom:1px solid #4b646f">
                    <thead>
                    <tr>
                       <th>jar</th>
                        <th>SF</th>
                        <th>MF</th>
                        <th>kotlin_metadata</th>
                        <th>jpg</th>
                        <th>gz</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{apk_detail.jar}}</td>
                      <td>{{apk_detail.SF}}</td>
                        <td>{{apk_detail.MF}}</td>
                        <td>{{apk_detail.kotlin_metadata}}</td>
                        <td>{{apk_detail.jpg}}</td>
                        <td>{{apk_detail.gz}}</td>
                    </tr>
                    </tbody>
                </table>
{##}
{#                <h4><b>CPU:</b></h4>#}
{#                <table border="1" class="table  table-responsive"#}
{#                       style="border-left:3px solid purple;border-bottom:1px solid purple">#}
{#                    <thead>#}
{#                    <tr>#}
{#                        <th style="width: 45%">CPU型号</th>#}
{#                        <th style="width: 15%">物理CPU个数</th>#}
{#                        <th>CPU核数</th>#}
{#                    </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                    <tr>#}
{#                        <td>{{ asset.apkname|default:'N/A' }}</td>#}
{#                        <td>{{ asset.apkname|default:'1' }}</td>#}
{#                        <td>{{ asset.apkname|default:'1' }}</td>#}
{#                    </tr>#}
{#                    </tbody>#}
{#                </table>#}
{##}
{#                <h4><b>内存:</b></h4>#}
{#                <table border="1" class="table  table-responsive"#}
{#                       style="border-left:3px solid orangered;border-bottom:1px solid orangered">#}
{#                    <thead>#}
{#                    <tr>#}
{#                        <th style="width:5%;">序号</th>#}
{#                        <th>型号</th>#}
{#                        <th>容量</th>#}
{#                        <th>插槽</th>#}
{#                        <th>制造商</th>#}
{#                        <th>SN</th>#}
{#                    </tr>#}
{#                    </thead>#}
                    {#                <tbody>#}
                    {#                {% for ram in asset.ram_set.all %}#}
                    {#                    <tr>#}
                    {#                        <td>{{ forloop.counter }}</td>#}
                    {#                        <td>{{ ram.model|default:'N/A' }}</td>#}
                    {#                        <td>{{ ram.capacity|default:'N/A' }}</td>#}
                    {#                        <td>{{ ram.slot }}</td>#}
                    {#                        <td>{{ ram.manufacturer|default:'N/A' }}</td>#}
                    {#                        <td>{{ ram.sn|default:'N/A' }}</td>#}
                    {#                    </tr>#}
                    {#                {% empty %}#}
                    {#                    <tr>#}
                    {#                        <td></td><td></td><td></td><td></td><td></td><td></td>#}
                    {#                    </tr>#}
                    {#                {% endfor %}#}
                    {#                </tbody>#}
{#                </table>#}

{#                <h4><b>硬盘:</b></h4>#}
                {#            <table border="1" class="table  table-responsive" style="border-left:3px solid brown;border-bottom:1px solid brown">#}
                {#                <thead>#}
                {#                    <tr>#}
                {#                        <th style="width:5%;">序号</th>#}
                {#                        <th>型号</th>#}
                {#                        <th>容量</th>#}
                {#                        <th>插槽</th>#}
                {#                        <th>接口类型</th>#}
                {#                        <th>制造商</th>#}
                {#                        <th>SN</th>#}
                {#                    </tr>#}
                {#                </thead>#}
                {#                <tbody>#}
                {#                {% for disk in asset.disk_set.all %}#}
                {#                    <tr>#}
                {#                        <td>{{ forloop.counter }}</td>#}
                {#                        <td>{{ disk.model|default:'N/A' }}</td>#}
                {#                        <td>{{ disk.capacity|default:'N/A' }}</td>#}
                {#                        <td>{{ disk.slot|default:'N/A'  }}</td>#}
                {#                        <td>{{ disk.get_interface_type_display }}</td>#}
                {#                        <td>{{ disk.manufacturer|default:'N/A' }}</td>#}
                {#                        <td>{{ disk.sn}}</td>#}
                {#                    </tr>#}
                {#                {% empty %}#}
                {#                    <tr>#}
                {#                        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>#}
                {#                    </tr>#}
                {#                {% endfor %}#}
                {#                </tbody>#}
                {#            </table>#}

{#                <h4><b>网卡:</b></h4>#}
                {#            <table border="1" class="table  table-responsive" style="border-left:3px solid #a59b1a;border-bottom:1px solid #a59b1a">#}
                {#                <thead>#}
                {#                    <tr>#}
                {#                        <th style="width:5%;">序号</th>#}
                {#                        <th>名称</th>#}
                {#                        <th>型号</th>#}
                {#                        <th>MAC</th>#}
                {#                        <th>IP</th>#}
                {#                        <th>掩码</th>#}
                {#                        <th>绑定地址</th>#}
                {#                    </tr>#}
                {#                </thead>#}
                {#                <tbody>#}
                {#                {% for nic in asset.nic_set.all %}#}
                {#                    <tr>#}
                {#                        <td>{{ forloop.counter }}</td>#}
                {#                        <td>{{ nic.name|default:'N/A' }}</td>#}
                {#                        <td>{{ nic.model }}</td>#}
                {#                        <td>{{ nic.mac  }}</td>#}
                {#                        <td>{{ nic.ip_address|default:'N/A' }}</td>#}
                {#                        <td>{{ nic.net_mask|default:'N/A' }}</td>#}
                {#                        <td>{{ nic.bonding|default:'N/A' }}</td>#}
                {#                    </tr>#}
                {#                {% empty %}#}
                {#                    <tr>#}
                {#                        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>#}
                {#                    </tr>#}
                {#                {% endfor %}#}
                {#                </tbody>#}
                {#            </table>#}

            </div>
            <!-- /.box-body -->



            <!-- /.box-footer-->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->


{% endblock %}

{% block script %}

{% endblock %}