{% extends 'base.html' %}
{% load static %}

{% block title %}User Log{% endblock %}
{% block css %}

{% endblock %}
{% block admin_name %}<p>{{nickname}}</p>{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Online Log</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'quickit:dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Online Log</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
{% endblock %}

{% block content %}
<!-- Main content -->
<!-- /.card -->
<!-- Button trigger modal -->
<!-- modal -->
<div class="modal fade" id="ModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Log Content</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="content"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="card card-dark card-outline">
            <form style="margin: 20px 20px">

                <div class="form-row">
                    <div class="form-group  col-md-2">
                        <label class="control-label" style="">ANM:</label>
                        <div class="form-group">
                            <select class="select2bs4" data-placeholder="" style="width: 100%" id="ANM">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-2" style="">
                        <label for="Action" class="control-label" style="">Action:</label>

                        <input type="text" style="width: 100%" id="Action" spellcheck="false" class="form-control"
                               placeholder="Input Action..." value="">
                    </div>

                    <div class="form-group col-md-2" style="">
                        <label for="Cha" class="control-label" style="">Cha:</label>

                        <input type="text" style="width: 100%" id="Cha" spellcheck="false" class="form-control"
                               placeholder="Input Cha..." value="">
                    </div>


                    <div class="form-group col-md-3" style="">
                        <label for="did" class="control-label" style="">did:</label>

                        <input type="text" style="width: 100%" id="did" spellcheck="false" class="form-control"
                               placeholder="Input did..." value="">
                    </div>


                    <div class="form-group col-sm-2">
                        <label for="Date" class="control-label" style="">Date:</label>

                        <div class="daterange" style="width: 100%">
                            <input style="width: 100%" class="form-control" name="range_date" type="text" id="Date">
                        </div>

                    </div>

                    <div class="form-group">
                        &nbsp;<button id="summit_btn" style="margin: 15% 0 0 25%;width: 50px"
                                      class="btn  bg-gradient-primary" type="button">Go
                    </button>
                    </div>
                </div>
            </form>

            <table id="log_table" style="width: 96%;margin-left: 2%;margin-bottom: 2%" class="table table-bordered"
                   style=" word-break:break-all;word-wrap:break-word"></table>
        </div>

    </div><!-- /.container-fluid -->
</section>

{% endblock %}


{% block script %}
<!-- Bootstrap -->
<!-- AdminLTE -->

<!-- OPTIONAL SCRIPTS -->
<script src="/static/AdminLTE-3.0.1/plugins/chart.js/Chart.min.js"></script>
<script src="/static/AdminLTE-3.0.1/dist/js/demo.js"></script>
<script src="/static/AdminLTE-3.0.1/dist/js/pages/dashboard3.js"></script>
<script src="/static/plugin/json-viewer/js/jquery.json-viewer.js"></script>

<!-- FLOT CHARTS -->
<script src="/static/AdminLTE-3.0.1/plugins/flot/jquery.flot.js"></script>
<!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
<script src="/static/AdminLTE-3.0.1/plugins/flot-old/jquery.flot.resize.min.js"></script>
<!-- FLOT PIE PLUGIN - also used to draw donut charts -->
<script src="/static/AdminLTE-3.0.1/plugins/flot-old/jquery.flot.pie.min.js"></script>
<script src="/static/plugin/loading/js/loading.js"></script>
<script>

    var anms_list = {{anms_list | safe}};
    for (var i = 0; i < anms_list.length; i++) {
        $('#ANM').append('<option>' + anms_list[i] + '</option>')
    };

    function loading() {
        $('body').loading({
            loadingWidth: 320,
            title: 'Please be patient for a minute or two',
            name: 'test',
            discription: '',
            direction: 'column',
            type: 'origin',
            // originBg:'#71EA71',
            originDivWidth: 40,
            originDivHeight: 40,
            originWidth: 6,
            originHeight: 6,
            smallLoading: false,
            loadingMaskBg: 'rgba(0,0,0,0.2)'
        });

        setTimeout(function () {
            //removeLoading('test');
        }, 3000);
    };

    $(function () {
        $(".daterange input").each(function () {
            var $this = $(this);
            $this.daterangepicker({
                locale: {
                    "format": "YYYY/MM/DD",// 显示格式
                    "applyLabel": "确定",
                    "cancelLabel": "取消",
                    "fromLabel": "开始",
                    "toLabel": "结束",
                    "daysOfWeek": ["日", "一", "二", "三", "四", "五", "六"],
                    "monthNames": ["一月", "二月", "三月", "四月", "五月", "六", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                    "firstDay": 1
                },
            }, function (start, end, label) {
                // 点击确定后的事件，下面是为了bootstrap validate得校验，
                // 若未使用，可忽视
                if ($this.parents("form.required-validate").length > 0) {
                    var $form = $this.parents("form.required-validate");

                    var name = $this.attr("name");
                    if ($form.length > 0) {
                        var data = $form.data('bootstrapValidator');
                        data.updateStatus(name, 'NOT_VALIDATED', null)
                        // Validate the field
                            .validateField(name);
                    }
                }
                // 设置最小宽度，否则显示不全
            }).css("min-width", "187px").next("i").click(function () {
                // 对日期的i标签增加click事件，使其在鼠标点击时可以拉出日期选择
                $(this).parent().find('input').click();
            });
        });
    });
    var options = {
        // collapsed: $('#collapsed').is(':checked'),
        // withQuotes: true,
        // withLinks: false
    };

    $('#summit_btn').click(function () {
        // $('#keyword_txt').val('')
        var Anm = $('#ANM').val()
        var Action = $('#Action').val()
        var Cha = $('#Cha').val()
        var did = $('#did').val()
        var date = $('#Date').val()
        if (Anm == '') {
            toastr.error('Anm不能为空！');
            return false
        } else {
            if (did == '') {
                toastr.error('did不能为空！');
                return false
            } else {
                $.ajax({
                    url: "/online_log_search/",
                    type: "POST",
                    async: true,
                    cache: false,
                    data: {
                        Anm: Anm,
                        Action: Action,
                        Cha: Cha,
                        did: did,
                        date: date
                    },

                    beforeSend: function () {
                        loading();

                    },
                    complete: function () {
                        removeLoading('test');
                    },
                    success: function (data) {

                        var columns = [{
                            field: 'Date',
                            title: '<strong>Date</strong>',
                            width: "20%",
                            sortable: true,
                            className: "text-center"
                        }, {
                            field: 'Anm',
                            title: '<strong>Anm</strong>',
                            sortable: true,
                            width: "20%",
                            className: "text-center"

                        }
                            // , {
                            //     field: 'Subanm',
                            //     title: '<strong>Subanm</strong>',
                            //     sortable: true,
                            //     width: "20%",
                            //     className: "text-center"
                            // }
                            , {
                                field: 'did',
                                title: '<strong>did</strong>',
                                sortable: true,
                                width: "20%",
                                className: "text-center"
                            }, {
                                field: 'user id',
                                title: '<strong>user id</strong>',
                                sortable: true,
                                width: "20%",
                                className: "text-center"
                            }, {
                                field: 'Cha',
                                title: '<strong>Cha</strong>',
                                sortable: true,
                                width: "20%",
                                className: "text-center"
                            }, {
                                field: 'Action',
                                title: '<strong>Action</strong>',
                                sortable: true,
                                width: "20%",
                                className: "text-center"
                            }, {
                                field: 'Content',
                                title: '<strong>Content</strong>',
                                sortable: true,
                                width: "20%",
                                className: "text-center"
                            }];
                        if (data['code'] == 200){
                            log_table = $('#log_table').DataTable({
                                "destroy": true,
                                "pageLength": 20,
                                "paging": true,
                                "lengthChange": false,
                                "searching": true,
                                "ordering": true,
                                "info": false,
                                "autoWidth": false,
                                "order": [[0, "desc"]],
                                dom: 't<"bottom"ip><"clear">',
                                columns: columns,
                                "columnDefs": [{
                                    "targets": [6],
                                    render: function (data, type, full, meta) {
                                        if (data) {
                                            console.log(data)
                                            if (data.length > 20) {
                                                data = data.replace(/"/g,"'").replace(/\s+/g,"_")
                                        return data.substr(0, 20) + "<a id='test' href = 'javascript:void(0);' onclick = javascript:searchBtn1(\""+data+"\") data-toggle=\"modal\" data-target=\"#ModalLong\" >...more</a>";
                                            } else {
                                                return data;
                                            }
                                        } else {
                                            return "";
                                        }
                                    }
                                }],
                                data: data['data_list']
                            });}
                            else {
                                if (data['msg'] != 'max connect'){
                                    toastr.error(data['msg'])

                                }else {
                                    toastr.error('最大并发查询数已达峰值，需等待别人查询完毕...')
                                }
                        }
                    }
                })
            }
        }
    })


    function searchBtn1(data) {
        // data = data.replace(',', '","')
        console.log(data)
        data = JSON.parse(data.replace(/'/g,'"'))

        $('#ModalLong').on('show.bs.modal', function () {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var modal = $(this)
            //此处即为修改modal的标题
            modal.find('#content').jsonViewer(data, options);
        });
    };


</script>

<!-- Calendar -->
{% endblock %}