        .box1 {
            float: left;
            padding: 15px 0 10px 15px;
        }

        .box1 .pic {
            width: 300px;
            height: 300px;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 5px #CCE8EB;
            border: 1px solid #CCE8EB;
            overflow-y: scroll;
        }

        .box1 .pic img {
            display: block;
            width: 100%;
            height: 165px;

        }

        .box1 .html_str{
            display: block;
            width: 100%;
            height: 265px;
        }

        .box1 .html_detail {
            height: auto;

        }

        .box1 .pic .detail {
            height: 135px;

        }


        .detail_text{
            color: #009688;
        }
        .select2-container--default .select2-results__option--highlighted[aria-selected]{
            background-color: #009688
        }
        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            background-color: #009688;

        }
        .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
            color:#fff
        }

        .skin-blue .main-header .navbar {
            background-color: #4E5465
        }

        .skin-blue .main-header .logo {
            background-color: #4E5465
        }

        .skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
            background-color: #404553
        }

        .skin-blue .sidebar-menu > li.header {
            background-color: #404553
        }

        .skin-blue .sidebar-menu > li > .treeview-menu {
            background-color: #3F3F3F;
        }
        .sidebar-menu li.header {
            font-size: 15px;;
        }

        .skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.menu-open > a {
            background-color: #4E5465
        }

        .skin-blue .sidebar-menu > li.active > a {
            background-color: #009688;
        }

        .skin-blue .sidebar-menu > li.active > a {
            border-left-color: wheat;
        }

        .content-wrapper {
            background-color: #f2f2f2;
        }

        .treeview-menu > li > a {
            padding: 5px 5px 5px 30px
        }

        .main-header .logo {
            font-size: 25px;
        }

        .sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
            font-size: 25px;
        }

        /*修改按钮样式*/

        .btn-primary {
            background-color: #009688;
            border-color: #009688
        }

        .btn-primary:hover {
            background-color: #00bfad;
            border-color: #00bfad
        }

        .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{
            background-color: #00bfad;
            border-color: #00bfad
        }


        .btn-primary:focus, .btn-primary.focus {
            background-color: #00bfad
        }

        /*导航右边按钮*/
        .skin-blue .main-header .navbar .sidebar-toggle:hover {
            background-color: #4b646f;
        }

        /*.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{*/
        /*background-color: #4b646f;*/