{% extends 'base.html' %}
{% load static %}
{% block title %}用户活动{% endblock %}
{% block page-title %}用户活动{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
<div class="page-body">
    <div class="container-xl">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">活动日志</h3>
                    </div>
                    <div class="list-group card-list-group">
                        <div class="list-group-item">
                            <div class="row g-2 align-items-center">
                                <div class="col-auto">
                                    <img src="/static/image/elver.png" class="rounded" alt="Górą ty" width="40" height="40">
                                </div>
                                <div class="col">
                                    <strong>Elver</strong>
                                    <div class="text-muted">
                                        查看了主页
                                    </div>
                                </div>
                                <div class="col-auto text-muted">2021/10/10 03:41:21</div>
                      </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row g-2 align-items-center">
                                <div class="col-auto">
                                    <img src="/static/image/elver.png" class="rounded" alt="Górą ty" width="40" height="40">
                                </div>
                                <div class="col">
                                    <strong>Elver</strong>
                                    <div class="text-muted">
                                        查看了主页
                                    </div>
                                </div>
                                <div class="col-auto text-muted">2021/10/10 03:41:21</div>
                      </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row g-2 align-items-center">
                                <div class="col-auto">
                                    <img src="/static/image/elver.png" class="rounded" alt="Górą ty" width="40" height="40">
                                </div>
                                <div class="col">
                                    <strong>Elver</strong>
                                    <div class="text-muted">
                                        查看了主页
                                    </div>
                                </div>
                                <div class="col-auto text-muted">2021/10/10 03:41:21</div>
                      </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row g-2 align-items-center">
                                <div class="col-auto">
                                    <img src="/static/image/elver.png" class="rounded" alt="Górą ty" width="40" height="40">
                                </div>
                                <div class="col">
                                    <strong>Elver</strong>
                                    <div class="text-muted">
                                        查看了主页
                                    </div>
                                </div>
                                <div class="col-auto text-muted">2021/10/10 03:41:21</div>
                      </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row g-2 align-items-center">
                                <div class="col-auto">
                                    <img src="/static/image/elver.png" class="rounded" alt="Górą ty" width="40" height="40">
                                </div>
                                <div class="col">
                                    <strong>Elver</strong>
                                    <div class="text-muted">
                                        查看了主页
                                    </div>
                                </div>
                                <div class="col-auto text-muted">2021/10/10 03:41:21</div>
                      </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row g-2 align-items-center">
                                <div class="col-auto">
                                    <img src="/static/image/elver.png" class="rounded" alt="Górą ty" width="40" height="40">
                                </div>
                                <div class="col">
                                    <strong>Elver</strong>
                                    <div class="text-muted">
                                        查看了主页
                                    </div>
                                </div>
                                <div class="col-auto text-muted">2021/10/10 03:41:21</div>
                      </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row g-2 align-items-center">
                                <div class="col-auto">
                                    <img src="/static/image/elver.png" class="rounded" alt="Górą ty" width="40" height="40">
                                </div>
                                <div class="col">
                                    <strong>Elver</strong>
                                    <div class="text-muted">
                                        查看了主页
                                    </div>
                                </div>
                                <div class="col-auto text-muted">2021/10/10 03:41:21</div>
                      </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row g-2 align-items-center">
                                <div class="col-auto">
                                    <img src="/static/image/elver.png" class="rounded" alt="Górą ty" width="40" height="40">
                                </div>
                                <div class="col">
                                    <strong>Elver</strong>
                                    <div class="text-muted">
                                        查看了主页
                                    </div>
                                </div>
                                <div class="col-auto text-muted">2021/10/10 03:41:21</div>
                      </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row g-2 align-items-center">
                                <div class="col-auto">
                                    <img src="/static/image/elver.png" class="rounded" alt="Górą ty" width="40" height="40">
                                </div>
                                <div class="col">
                                    <strong>Elver</strong>
                                    <div class="text-muted">
                                        查看了主页
                                    </div>
                                </div>
                                <div class="col-auto text-muted">2021/10/10 03:41:21</div>
                      </div>
                        </div>
                    </div>
                </div>
              </div>
            <div class="col-lg-4">
                <div class="row mb-3 row-cards">
                    <div class="col-md-6 col-lg-12">
                        <div class="card mt-1">
                            <div class="progress card-progress">
                                <div class="progress-bar bg-green" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                    <span class="visually-hidden">20% Complete</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">
                                    <a href="#">今日活跃用户</a>
                                </h3>
                                <div class="avatar-list avatar-list-stacked mb-3">
                                    <span class="avatar avatar-sm avatar-rounded" style="background-image: url(/static/image/elver.png)"></span>
                                    <span class="avatar avatar-sm avatar-rounded" style="background-image: url(/static/image/elver.png)"></span>
                                    <span class="avatar avatar-sm avatar-rounded" style="background-image: url(/static/image/elver.png)"></span>
                                </div>
                                <div class="card-meta d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                        3个
                                    </div>
                                    <span>2021年10月10日</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                      <h3 class="card-title">最近七天活跃用户数</h3>
                      <div id="chart-tasks-overview"></div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}



{% block script %}
<script>
      // @formatter:off
      document.addEventListener("DOMContentLoaded", function () {
      	window.ApexCharts && (new ApexCharts(document.getElementById('chart-tasks-overview'), {
      		chart: {
      			type: "bar",
      			fontFamily: 'inherit',
      			height: 250,
      			parentHeightOffset: 0,
      			toolbar: {
      				show: false,
      			},
      			animations: {
      				enabled: false
      			},
      		},
      		plotOptions: {
      			bar: {
      				columnWidth: '50%',
      			}
      		},
      		dataLabels: {
      			enabled: false,
      		},
      		fill: {
      			opacity: 1,
      		},
      		series: [{
      			name: "用户数",
      			data: [44, 32, 48, 33, 60, 16, 44]
      		}],
      		grid: {
      			padding: {
      				top: -20,
      				right: 0,
      				left: -4,
      				bottom: -2
      			},
      			strokeDashArray: 4,
      		},
      		xaxis: {
      			labels: {
      				padding: 0,
      			},
      			tooltip: {
      				enabled: false
      			},
      			axisBorder: {
      				show: false,
      			},
      			categories: ['10/10', '10/11', '10/12', '10/13', '10/14', '10/15', '10/16'],
      		},
      		yaxis: {
      			labels: {
      				padding: 4
      			},
      		},
      		colors: ["#206bc4"],
      		legend: {
      			show: false,
      		},
      	})).render();
      });
      // @formatter:on
</script>
{% endblock %}
