{% extends 'base.html' %}
{% load static %}
{% block title %}DOCUMENT{% endblock %}
{% block page-title %}帮助文档{% endblock %}

{% block content %}

<div class="page-body">
    <div class="container-xl">
        <div class="row gx-lg-4">
            <div class="d-none d-lg-block col-lg-3">
                <ul class="nav nav-pills nav-vertical">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">
                            入门介绍
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#menu-base" class="nav-link" data-bs-toggle="collapse" aria-expanded="false">
                            BUILDER
                            <span class="nav-link-toggle"></span>
                        </a>
                        <ul class="nav nav-pills collapse" id="menu-base">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    如何使用
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    配置构建任务
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#menu-content" class="nav-link" data-bs-toggle="collapse" aria-expanded="false">
                            API TEST
                            <span class="nav-link-toggle"></span>
                        </a>
                        <ul class="nav nav-pills collapse" id="menu-content">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    功能测试
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    自动化测试
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    压力测试
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9">
                <div class="card card-lg">
                    <div class="card-body">
                        <div class="markdown">
                            <div>
                                <div class="d-flex mb-3">
                                    <h1 class="m-0">入门介绍</h1>
                                </div>
                            </div>
                            <p>Elver是一个开源的通用测试平台</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}
