{% extends 'base.html' %}
{% load static %}
{% block title %}TIMELINE{% endblock %}
{% block page-title %}TIMELINE{% endblock %}

{% block content %}

<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">版本迭代</h3>
            </div>
            <div class="card-body">
                <ul class="list list-timeline">
                    <li>
                        <div class="list-timeline-icon bg-success">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l5 5l10 -10" /></svg>
                        </div>
                        <div class="list-timeline-content">
                            <div class="list-timeline-time">2021/10/12</div>
                            <p class="list-timeline-title">V3.0</p>
                            <p class="text-muted">
                                功能
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="list-timeline-icon bg-success">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l5 5l10 -10" /></svg>
                        </div>
                        <div class="list-timeline-content">
                            <div class="list-timeline-time">2021/10/11</div>
                            <p class="list-timeline-title">V2.0</p>
                            <p class="text-muted">功能</p>
                        </div>
                    </li>
                    <li>
                        <div class="list-timeline-icon bg-success">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l5 5l10 -10" /></svg>
                        </div>
                        <div class="list-timeline-content">
                            <div class="list-timeline-time">2021/10/10</div>
                            <p class="list-timeline-title">V1.0</p>
                            <p class="text-muted">功能</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    $('#timeline_tab').addClass('active');
</script>
{% endblock %}
