{% extends 'base.html' %}
{% load static %}

{% block style %}
{% endblock %}

{% block content %}
<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <ul class="nav nav-tabs nav-tabs-alt" data-bs-toggle="tabs">
                {% block apm_tab %}{% endblock %}
            </ul>
            <div class="card-body">
                <div class="tab-content">
                    {% block apm_tab_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $('#apm_tab').addClass('active');
    function tab_click(tab){
        window.location.href = "/apm/"+tab;
    }
</script>
{% block api_script %}
{% endblock %}
{% endblock %}


